      <hr>
      
      <div class="footer">
        <div class="row-fluid marketing">
          <div class="span12">
            <ul class="linklist pull-right">
              <li><a href="{{site.root}}">Home</a> <span class="divider">/</span></li>
              <li><a href="{{ pcurl('about') }}">About</a> <span class="divider">/</span></li>
              <li><a href="{{ pcurl('contact') }}">Contact</a> <span class="divider">/</span></li>
              <li><a href="{{ pcurl('blog') }}">Blog</a> <span class="divider">/</span></li>
              <li><a href="{{ pcurl('resume') }}">Resumé</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.root}}assets/js/jquery.js"></script>
    <script src="{{site.root}}assets/js/bootstrap-transition.js"></script>
    <script src="{{site.root}}assets/js/bootstrap-alert.js"></script>
    <script src="{{site.root}}assets/js/bootstrap-modal.js"></script>
    <script src="{{site.root}}assets/js/bootstrap-dropdown.js"></script>
    <script src="{{site.root}}assets/js/bootstrap-scrollspy.js"></script>
    <script src="{{site.root}}assets/js/bootstrap-tab.js"></script>
    <script src="{{site.root}}assets/js/bootstrap-tooltip.js"></script>
    <script src="{{site.root}}assets/js/bootstrap-popover.js"></script>
    <script src="{{site.root}}assets/js/bootstrap-button.js"></script>
    <script src="{{site.root}}assets/js/bootstrap-collapse.js"></script>
    <script src="{{site.root}}assets/js/bootstrap-carousel.js"></script>
    <script src="{{site.root}}assets/js/bootstrap-typeahead.js"></script>

    {{ google.analytics('UA-60313-3') }}
  </body>
</html>