{% extends '_template.html.twig' %}

{% block breadcrumbs %}
    <div class="row-fluid">
        <div class="span12 centered">
            <ul class="breadcrumb">
                <li><a href="{{pcurl('/')}}">Home</a> <span class="divider">/</span></li>
                <li class="active">Blog</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h2>{{page.title}}</h2>
        <p class="lead">{{page.lead}}</p>
    </div>

<div class="row-fluid">
{% set i = 0 %}
{% for post in pagination.posts %}
    {% if i == 0 %}
        <div class="span12">
            <h3 class="blog-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <div class="blog-content">
                <small>{{ post.date }}</small>
                {{ post.content|raw }}
            </div>
        </div>
        <div class="row-fluid">
    {% else %}
        <div class="span6">
            <h3 class="blog-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <div class="blog-content">
                <small>{{ post.date }}</small>
                {{ post.content|raw }}
            </div>
        </div>

        {% if i%2 == 0 %}
            </div>
            <div class="row-fluid">
        {% endif %}
    {% endif %}
    
    {% set i = i + 1 %}
{% endfor %}

</div>
{% if pagination.prev_page_number or pagination.next_page_number %}
    <div class="pagination pagination-centered">
        <ul>
            <li {% if pagination.this_page_number == 1 %}class="disabled"{% endif %}><a href="{% if pagination.prev_page == false %}#{% else %}{{ pcurl(pagination.prev_page) }}{% endif %}">&laquo; Newer Posts</a></li>
            <li {% if pagination.next_page == false %}class="disabled"{% endif %}><a href="{% if pagination.next_page == false %}#{% else %}{{ pcurl(pagination.next_page) }}{% endif %}">Older Posts&raquo;</a></li>
        </ul>
    </div>
{% endif %}

{% endblock %}